/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #f7f7f7;
}

a {
  color: inherit;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^=col-] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
} */

/* font-family: 'DM Serif Display', serif;
font-family: 'Heebo', sans-serif;
 */

h1 {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 60px;
}

h2 {
  font-family: "Heebo", sans-serif;
  font-size: 12px;
}

h3 {
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-size: 18px;
  padding: 25px 10px 0;
  margin-bottom: 50px;
}

img {
  width: 100%;
  padding-bottom: 20px;
}

.card {
  background-color: white;
}
